.community-item{
    width: 80%;
    // height: 3rem;
    // background: red;

    margin-bottom: 2rem;

    .item-row{
        margin-top: 0.3rem;
    }

    .code{
        font-weight: 700;
    }

}