.admin-import-metadata{

    .main{
        display: flex;
        padding-bottom: 5rem;
    }
    
    .main-right{
        background: #ffffff;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}