// about.scss

.about{
    // ------------------------------- Tung space starts here ---------------------------

    // ------------------------------- Tung space ends here ---------------------------







    // ------------------------------- Thao space starts here ---------------------------
    .two-col{
        margin-top: 1.5rem;
        padding: 0 6rem;

        display: flex;
        flex-direction: row;

        .header{
            width: 55%;
            
            h3{
                color: #2E5288;
            }
        }

        .item{
            width: 75%;
            height: 34vh;
        }

        .about_left{
            .item{
                .header{
                    width: 100%;
                }

                margin-top: 2rem;

                .item-main{
                    display: flex;
                    font-weight: 300;
                    line-height: 1.5rem;
                    font-size: 1rem;
                  
                    color: #3E3E3E;
                }

                &:first-child{
                    .item-main{
                        padding-left: 0;
                    }
                }

                .item:first-child{
                    margin-top: 0;
                }
            }
        }

        .about_right{
            .item{
                .header{
                    width: 100%;
                }

                margin-top: 2rem;

                .item-main{
                    display: flex;
                    font-weight: 300;
                    line-height: 1.5rem;
                    font-size: 1rem;

                    color: #3E3E3E;
                }

                &:first-child{
                    .item-main{
                        padding-left: 0;
                    }
                }

                .item:first-child{
                    margin-top: 0;
                }

            }
        }
    }
    // ------------------------------- Thao space ends here ---------------------------
}