# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
/src/.env
.DS_Store
.env.local
/.angular/cache
/__build__
/__server_build__
/node_modules
/typings
/tsd_typings/
npm-debug.log
/.yarn
/build/

/coverage

/dist/
/coverage/

.idea
*.iml
*.ngfactory.ts
*.css.shim.ts
*.scss.shim.ts

.DS_Store

webpack.records.json

/npm-debug.log.*

morgan.log

yarn-error.log

*.css

package-lock.json

.java-version

.env
/nbproject/

junit.xml
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
