// home.scss

@import '../../scss/variables.scss';

.home {
    h1 {
        // color: $red;
    }

    .main{
        background: red;
        padding: 0 $primary-padding;
        // width: 100%;
        height: 70vh;
    }
}