// home.scss

@import '../../scss/variables.scss';


.home {
    // h1 {
    //     // color: $red;
    // }

    .main{
        margin-top: 1.5rem;
        padding: 0 var(--primary-padding);
        // width: 100%;
        // height: 70vh;

        display: flex;
        flex-direction: row;


        .header{
            border-bottom: 0.0625rem solid rgba($color: #000000, $alpha: 0.2);

            width: 55%;
            
        }


        .item{
            width: 75%;
            height: 34vh;
        }


        .left{
            flex-basis: 50%;
            
            .item{
                .header{
                    width: 100%;
                }

                margin-top: 2rem;
                
                .item-main{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    line-height: 1.25rem;
                    font-size: 1rem;
                    // font-weight: 300;
                    opacity: 0.9;
                    color: #3E3E3E;
                    // color: #000000;

                    padding-left: 0.5rem;
                }

                &:first-child{
                    .item-main{
                        padding-left: 0;
                    }
                }

                .submit-button{
                    font-family: 'Montserrat', sans-serif;
                    left: 14rem;
                    border: none;
                    background: $primary-blue;
                    height: 3.1rem;
                    top: 68.278rem;
                    width: 12.5rem;
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 700;
                    position: absolute;
                    letter-spacing: 0.05rem;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover{
                        cursor: pointer;
                    }
                }
                .submit-text{
                    font-family: 'montserrat', sans-serif;
                    position: absolute;
                    opacity: 0.9;
                    left: 30.56%;
                    font-size: 1rem;
                    display: flex;
                    text-align: center;
                    color: #3E3E3E;
                    top: 69.278rem;
                }
            }

            .item:first-child{
                margin-top: 0;
            }

        }

        .right{
            .item{
                .header{
                    width: 100%;
                }

                margin-top: 2rem;

                .item-main{
                    ul{
                        font-family: 'Montserrat';
                        font-style: normal;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        margin-right: 0.5rem;
                        margin-top: 1.25rem;
                        line-height: 1.8rem;
                        font-size: 1rem;
                        color: #3E3E3E;
                        font-weight: 400;
                        opacity: 0.9;
                        
                    }

                    padding-left: 0.5rem;
                }


                .collections{
                    font-family: 'Montserrat';
                    margin: 0.5rem 0;
                    display: flex;
                    justify-content: flex-end;
                    font-size: 0.8rem;
                    line-height: 1.25rem;
                    color: #cd3c3f;
                    font-weight: 700;
                }

               
            }

            .item:first-child{
                margin-top: 0;
            }


            flex-grow: 1;
            padding-left: var(--primary-padding);
            // background-color: blue;
            border-left: 0.15625rem solid $primary-red;
        }
    }
}