// authForm.scss

.auth-form{
    height: 30rem;
    width: 31rem;

    // background-color: red;

    margin-top: 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .register--text_1 {
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
    }
    .register--text_2 {
        padding-top: 1rem;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
    }

    .header{
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        color: #000000;
        margin-bottom: 1rem;
    }

    .form-input{
        margin-top: 1.5rem;
        width: 100%;

        &:nth-child(2){
            margin-top: 0;
        }

        input{
            // width: 29.5rem;
            width: 100%;
            box-sizing: border-box;
            height: 3.3rem;

            border: 0.0625rem solid #3D3D3D;
            border-radius: 0.25rem;

            padding: 0.3rem 0 0.3rem 1.5rem;

            font-size: 0.9rem;
        }

        input[type=text]{
            outline: none;
        }
    }

    .auth-help{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}