@import './scss/variables.scss';

body {
    overflow-x: hidden;
}

html {
    position: relative;
}

/* 

h3{
  font-size: 1rem; 
}
 */


h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 6.25rem;
    letter-spacing: 0rem;
    line-height: 3.3333rem;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.9167rem;
    letter-spacing: 0rem;
    line-height: 2rem;
    text-align: center;
    font-style: italic;
}

h3 {
    color: $primary-blue;
    padding-left: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0rem;
    line-height: 1.625rem;
    text-align: left;
    font-style: normal;
}

h4 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.6667rem;
    letter-spacing: 0rem;
    line-height: 2.1667rem;
}

h5 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    line-height: 2rem;
}

.base {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3333rem;
    letter-spacing: 0rem;
    line-height: 1.6667rem;
    text-align: left;
    color: #3E3E3E;
}

.small {
    font-family: 'Montserrat';
    font-size: 1.0833rem;
    letter-spacing: 0rem;
    line-height: 1.8333rem;
}




/* global margin */
.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.mb4 {
    margin-bottom: 4rem;
}

.mb10 {
    margin-bottom: 10rem;
}


.ml1 {
    margin-left: 1rem;
}

.ml2 {
    margin-left: 2rem;
}

.ml3 {
    margin-left: 3rem;
}

.ml4 {
    margin-left: 4rem;
}

.main{
    margin-bottom: 10rem;
}