// banner.scss

.banner{
    width: 100%;
    height: 48vh;
    background: red;
    position: relative;

    .welcome{
        width: 38vw;
        height: 40%;

        position: absolute;
        left: 19rem;
        top: 3rem;

        color: #ffffff;

        display: flex;
        flex-direction: column;

        .top{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 4.5rem;
            letter-spacing: 0rem;
            line-height: 3.5rem;
            text-align: left;
            position: absolute;
            width: 33.625rem;
            height: 2.5rem;
            // left: 2.4375rem;
            top: 3.75rem;
        }
        
        .bottom{
            position: absolute;
            width: 19.0625rem;
            height: 2.5rem;
            left: 9rem;
            top: 9.1875rem;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-weight: 300;
            font-size: 4rem;
            line-height: 2.5rem;
            // letter-spacing: 0rem;
            /* identical to box height, or 62% */

            display: flex;
            align-items: center;
            text-align: left;
        }


        @media screen and (max-width: 1024px) {
            // responsive for 14 in screens
            .top{
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 3.7rem;
                letter-spacing: 0rem;
                line-height: 5rem;
                text-align: left;
                position: absolute;
                width: 33.625rem;
                height: 2.5rem;
                left: 0rem;
                top: 3.75rem;
            }
            
            .bottom{
                position: absolute;
                width: 19.0625rem;
                height: 2.5rem;
                left: 7rem;
                top: 9.1875rem;
                font-family: 'Montserrat', sans-serif;
                font-style: italic;
                font-weight: 300;
                font-size: 2.7rem;
                line-height: 2.5rem;
                // letter-spacing: 0rem;
                /* identical to box height, or 62% */
        
                display: flex;
                align-items: center;
                text-align: left;
            }
        }
    }

    @media screen and (max-width: 1128px) {
        .welcome{
            left: 16rem;
        }
    }    

    @media screen and (max-width: 1024px) {
        .welcome{
            left: 14rem;
        }
    }

    @media screen and (max-width: 800px) {
        .welcome{
            left: 7rem;

            .top{
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 3rem;
                letter-spacing: 0rem;
                line-height: 7rem;
                text-align: left;
                position: absolute;
                width: 33.625rem;
                height: 2.5rem;
                left: 0rem;
                top: 3.75rem;
            }
            
            .bottom{
                position: absolute;
                width: 19.0625rem;
                height: 2.5rem;
                left: 7rem;
                top: 9.1875rem;
                font-family: 'Montserrat', sans-serif;
                font-style: italic;
                font-weight: 300;
                font-size: 2rem;
                line-height: 2.5rem;
                // letter-spacing: 0rem;
                /* identical to box height, or 62% */
        
                display: flex;
                align-items: center;
                text-align: left;
            }
        }
    }


}

