// banner.scss

.banner{
    width: 100%;
    height: 52vh;
    background: red;
    position: relative;

    .welcome{
        width: 38vw;
        height: 40%;

        position: absolute;
        left: 19rem;
        top: 3rem;

        color: #ffffff;

        display: flex;
        flex-direction: column;

        .top{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 4.5rem;
            letter-spacing: 0rem;
            line-height: 2.5rem;
            text-align: center;
            position: absolute;
            width: 538px;
            height: 40px;
            // left: 39px;
            top: 60px;
        }
        
        .bottom{
            position: absolute;
            width: 19.0625rem;
            height: 2.5rem;
            left: 9rem;
            top: 9.1875rem;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-weight: 300;
            font-size: 4rem;
            line-height: 2.5rem;
            // letter-spacing: 0rem;
            /* identical to box height, or 62% */

            display: flex;
            align-items: center;
            text-align: center;
        }
    }
}